<?php /**
 * Copyright © 2019 Zeo BV. All rights reserved.
 * @Author Gydo Broos
 * This module was developed by Zeo BV. on behalf of Hellodialog BV. all files in this module are subject to the MIT license.
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 **/ ?>

<div id="export-orders-form">
    <label for="export_from_date">Export from date: <input type="datetime-local" name="export_from_date" id="export_from_date"></label>
    <br><br>
    <button id="export_orders_button" data-action="<?php echo $block->getEndpointUrl() ?>from/" title="Export Orders" type="button" class="action-default scalable" data-ui-id="widget-button-2">
        <span>Export Orders</span>
    </button>
</div>

<script type="text/javascript">
    require(['jquery'],function($){
        $(function() {
            $('#export_orders_button').click(function () {
                var exportFromDate = $('#export_from_date').val();
                window.location = $(this).data('action') + exportFromDate
            });
        });
    });
</script>
